<div id="editTarefa" class="flex flex-col gap-y-3 items-center h-screen">

    <input type="text" placeholder="Adicione o Título" id="tituloTarefa" value="<%= tarefa.titulo %>">
    <input type="text" placeholder="Adicione a descrição" id="descricaoTarefa" value="<%= tarefa.descricao %>">
    <input type="text" placeholder="Adicione o estado" id="estadoTarefa" value="<%= tarefa.estado %>">
    <input type="text" placeholder="Adicione a importância" id="importanciaTarefa" value="<%= tarefa.importancia %>">
    <span>Adicione uma data: 
        <input type="date" id="prazoTarefa" value="<%= tarefa.prazo ? tarefa.prazo.split('T')[0] : '' %>">
    </span>

    <button onclick="editTarefa('<%= tarefa.id %>')">Enviar</button>

</div>
<script src="/scripts/editTarefa.js"></script>
